EXPO_PUBLIC_USE_FASTAPI=true
EXPO_PUBLIC_FASTAPI_BASE_URL=https://your-fastapi-url/api/v1
EXPO_PUBLIC_LEGACY_API_BASE_URL=http://192.168.1.83:5000/api

EXPO_PUBLIC_FREESOUND_API_BASE_URL=https://freesound.org/apiv2/search/text/
EXPO_PUBLIC_FREESOUND_API_KEY=your_freesound_api_key

EXPO_PUBLIC_WS_BASE_URL_IOS=ws://192.168.1.83:8765
EXPO_PUBLIC_WS_BASE_URL_ANDROID=ws://10.0.2.2:8765
EXPO_PUBLIC_WS_BASE_URL_DEFAULT=ws://192.168.1.83:8765
